---
http_interactions:
- request:
    method: post
    uri: https://connect.squareup.com/v2/locations/CBASEDPaLCabJaF09RCTuXK7uZYgAQ/transactions
    body:
      encoding: UTF-8
      string: '{"card_nonce":"fake-card-nonce-ok","reference_id":"TYZDzEGFReKt","amount_money":{"amount":8478,"currency":"USD"},"billing_address":{"first_name":"nathan","last_name":"nathan"},"idempotency_key":"TYZDzEGFReKt","buyer_email_address":"test@test.com"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer sandbox-sq0atb-Zefd9e__fbXtLIJYiJaiOA
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"transaction":{"id":"9c45764c-f048-5e07-44ed-97ca766a13dc","location_id":"CBASEDPaLCabJaF09RCTuXK7uZYgAQ","created_at":"2017-10-19T19:39:13Z","tenders":[{"id":"cbb9290a-5d34-5565-4f7f-156fa4614fe0","location_id":"CBASEDPaLCabJaF09RCTuXK7uZYgAQ","transaction_id":"9c45764c-f048-5e07-44ed-97ca766a13dc","created_at":"2017-10-19T19:39:13Z","note":"Online
        Transaction","amount_money":{"amount":8478,"currency":"USD"},"type":"CARD","card_details":{"status":"CAPTURED","card":{"card_brand":"VISA","last_4":"5858"},"entry_method":"KEYED"}}],"reference_id":"TYZDzEGFReKt","product":"EXTERNAL_API"}}'
  recorded_at: Thu, 19 Oct 2017 19:39:13 GMT
recorded_with: VCR 3.0.3
