---
http_interactions:
- request:
    method: post
    uri: https://connect.squareup.com/v2/locations/CBASEDPaLCabJaF09RCTuXK7uZYgAQ/transactions
    body:
      encoding: UTF-8
      string: '{"card_nonce":"fake-card-nonce-ok","reference_id":"UNJv2njAk7Zq","amount_money":{"amount":7869,"currency":"USD"},"idempotency_key":"UNJv2njAk7Zq","buyer_email_address":"test@test.com"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer sandbox-sq0atb-Zefd9e__fbXtLIJYiJaiOA
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"transaction":{"id":"05d4768e-c7d4-571b-7617-4192f5439e22","location_id":"CBASEDPaLCabJaF09RCTuXK7uZYgAQ","created_at":"2017-10-07T04:19:29Z","tenders":[{"id":"0b876ce0-577a-565c-6217-47729be7adbe","location_id":"CBASEDPaLCabJaF09RCTuXK7uZYgAQ","transaction_id":"05d4768e-c7d4-571b-7617-4192f5439e22","created_at":"2017-10-07T04:19:29Z","note":"Online
        Transaction","amount_money":{"amount":7869,"currency":"USD"},"type":"CARD","card_details":{"status":"CAPTURED","card":{"card_brand":"VISA","last_4":"5858"},"entry_method":"KEYED"}}],"reference_id":"UNJv2njAk7Zq","product":"EXTERNAL_API"}}'
  recorded_at: Sat, 07 Oct 2017 04:19:29 GMT
recorded_with: VCR 3.0.3
