---
http_interactions:
- request:
    method: post
    uri: https://connect.squareup.com/v2/customers
    body:
      encoding: UTF-8
      string: '{"email_address":"test@test.com","given_name":"nathan","phone_number":"123-456-789"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer sandbox-sq0atb-Zefd9e__fbXtLIJYiJaiOA
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"customer":{"id":"CBASEIF2BvVCul9ZLachCOI75XAgAQ","created_at":"2017-10-20T17:05:45.58Z","updated_at":"2017-10-20T17:05:45.58Z","given_name":"nathan","email_address":"test@test.com","phone_number":"123-456-789","preferences":{"email_unsubscribed":false}}}'
  recorded_at: Fri, 20 Oct 2017 17:05:45 GMT
- request:
    method: post
    uri: https://connect.squareup.com/v2/locations/CBASEDPaLCabJaF09RCTuXK7uZYgAQ/transactions
    body:
      encoding: UTF-8
      string: '{"idempotency_key":"aQs7uU45TAf2","card_nonce":"fake-card-nonce-ok","reference_id":"aQs7uU45TAf2","amount_money":{"amount":7846,"currency":"USD"},"customer_id":"CBASEIF2BvVCul9ZLachCOI75XAgAQ","buyer_email_address":"test@test.com"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer sandbox-sq0atb-Zefd9e__fbXtLIJYiJaiOA
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"transaction":{"id":"071857b9-fcbe-5c67-7d25-632d778f0c62","location_id":"CBASEDPaLCabJaF09RCTuXK7uZYgAQ","created_at":"2017-10-20T17:05:45Z","tenders":[{"id":"317d6053-bfa6-537a-4245-4b6618611f1e","location_id":"CBASEDPaLCabJaF09RCTuXK7uZYgAQ","transaction_id":"071857b9-fcbe-5c67-7d25-632d778f0c62","created_at":"2017-10-20T17:05:45Z","note":"Online
        Transaction","amount_money":{"amount":7846,"currency":"USD"},"customer_id":"CBASEIF2BvVCul9ZLachCOI75XAgAQ","type":"CARD","card_details":{"status":"CAPTURED","card":{"card_brand":"JCB","last_4":"0650"},"entry_method":"KEYED"}}],"reference_id":"aQs7uU45TAf2","product":"EXTERNAL_API"}}'
  recorded_at: Fri, 20 Oct 2017 17:05:45 GMT
recorded_with: VCR 3.0.3
