---
http_interactions:
- request:
    method: post
    uri: https://connect.squareup.com/v2/locations/CBASEDPaLCabJaF09RCTuXK7uZYgAQ/transactions
    body:
      encoding: UTF-8
      string: '{"card_nonce":"fake-card-nonce-ok","reference_id":"tNauPgg7k7Hs","amount_money":{"amount":403,"currency":"USD"},"billing_address":{"first_name":"nathan","last_name":"nathan"},"idempotency_key":"tNauPgg7k7Hs","buyer_email_address":"test@test.com"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer sandbox-sq0atb-Zefd9e__fbXtLIJYiJaiOA
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"errors":[{"category":"PAYMENT_METHOD_ERROR","code":"CARD_DECLINED","detail":"Card
        declined."}]}'
  recorded_at: Thu, 19 Oct 2017 19:39:13 GMT
recorded_with: VCR 3.0.3
