---
http_interactions:
- request:
    method: post
    uri: https://connect.squareup.com/v2/customers
    body:
      encoding: UTF-8
      string: '{"email_address":"test@test.com","given_name":"nathan","phone_number":"123-456-789"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer sandbox-sq0atb-Zefd9e__fbXtLIJYiJaiOA
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"customer":{"id":"CBASEGfenD3AyjsJD2OFelZKOYYgAQ","created_at":"2017-10-20T17:05:47.489Z","updated_at":"2017-10-20T17:05:47.489Z","given_name":"nathan","email_address":"test@test.com","phone_number":"123-456-789","preferences":{"email_unsubscribed":false}}}'
  recorded_at: Fri, 20 Oct 2017 17:05:47 GMT
- request:
    method: post
    uri: https://connect.squareup.com/v2/locations/CBASEDPaLCabJaF09RCTuXK7uZYgAQ/transactions
    body:
      encoding: UTF-8
      string: '{"idempotency_key":"W64UbfVCUn9V","card_nonce":"fake-card-nonce-ok","reference_id":"W64UbfVCUn9V","amount_money":{"amount":2705,"currency":"USD"},"customer_id":"CBASEGfenD3AyjsJD2OFelZKOYYgAQ","buyer_email_address":"test@test.com"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer sandbox-sq0atb-Zefd9e__fbXtLIJYiJaiOA
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"transaction":{"id":"3344c84b-a916-5c50-7095-f4df9aca54e1","location_id":"CBASEDPaLCabJaF09RCTuXK7uZYgAQ","created_at":"2017-10-20T17:05:47Z","tenders":[{"id":"552d24a9-9655-5eee-698a-98488bff5908","location_id":"CBASEDPaLCabJaF09RCTuXK7uZYgAQ","transaction_id":"3344c84b-a916-5c50-7095-f4df9aca54e1","created_at":"2017-10-20T17:05:47Z","note":"Online
        Transaction","amount_money":{"amount":2705,"currency":"USD"},"customer_id":"CBASEGfenD3AyjsJD2OFelZKOYYgAQ","type":"CARD","card_details":{"status":"CAPTURED","card":{"card_brand":"AMERICAN_EXPRESS","last_4":"6550"},"entry_method":"KEYED"}}],"reference_id":"W64UbfVCUn9V","product":"EXTERNAL_API"}}'
  recorded_at: Fri, 20 Oct 2017 17:05:47 GMT
recorded_with: VCR 3.0.3
