---
http_interactions:
- request:
    method: post
    uri: https://connect.squareup.com/v2/locations/CBASEDPaLCabJaF09RCTuXK7uZYgAQ/transactions
    body:
      encoding: UTF-8
      string: '{"card_nonce":"fake-card-nonce-ok","reference_id":"un7hYRacJbQV","amount_money":{"amount":1289,"currency":"USD"},"idempotency_key":"un7hYRacJbQV","buyer_email_address":"test@test.com"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer sandbox-sq0atb-Zefd9e__fbXtLIJYiJaiOA
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"transaction":{"id":"d4bfea97-7265-50b0-6a93-0d62ca27a383","location_id":"CBASEDPaLCabJaF09RCTuXK7uZYgAQ","created_at":"2017-10-07T04:19:30Z","tenders":[{"id":"8e9a7a9c-7c7c-5c22-5868-f7ffbebdf6ef","location_id":"CBASEDPaLCabJaF09RCTuXK7uZYgAQ","transaction_id":"d4bfea97-7265-50b0-6a93-0d62ca27a383","created_at":"2017-10-07T04:19:30Z","note":"Online
        Transaction","amount_money":{"amount":1289,"currency":"USD"},"type":"CARD","card_details":{"status":"CAPTURED","card":{"card_brand":"AMERICAN_EXPRESS","last_4":"6550"},"entry_method":"KEYED"}}],"reference_id":"un7hYRacJbQV","product":"EXTERNAL_API"}}'
  recorded_at: Sat, 07 Oct 2017 04:19:30 GMT
recorded_with: VCR 3.0.3
