---
http_interactions:
- request:
    method: post
    uri: https://connect.squareup.com/v2/customers
    body:
      encoding: UTF-8
      string: '{"email_address":"test@test.com","given_name":"nathan","phone_number":"123-456-789"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer sandbox-sq0atb-Zefd9e__fbXtLIJYiJaiOA
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"customer":{"id":"CBASEBplALsJNPjPEMvDrfoBRcEgAQ","created_at":"2017-10-20T17:05:46.843Z","updated_at":"2017-10-20T17:05:46.843Z","given_name":"nathan","email_address":"test@test.com","phone_number":"123-456-789","preferences":{"email_unsubscribed":false}}}'
  recorded_at: Fri, 20 Oct 2017 17:05:46 GMT
- request:
    method: post
    uri: https://connect.squareup.com/v2/locations/CBASEDPaLCabJaF09RCTuXK7uZYgAQ/transactions
    body:
      encoding: UTF-8
      string: '{"idempotency_key":"xs42y6sp4d7G","card_nonce":"fake-card-nonce-ok","reference_id":"xs42y6sp4d7G","amount_money":{"amount":403,"currency":"USD"},"customer_id":"CBASEBplALsJNPjPEMvDrfoBRcEgAQ","buyer_email_address":"test@test.com"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer sandbox-sq0atb-Zefd9e__fbXtLIJYiJaiOA
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"errors":[{"category":"PAYMENT_METHOD_ERROR","code":"CARD_DECLINED","detail":"Card
        declined."}]}'
  recorded_at: Fri, 20 Oct 2017 17:05:47 GMT
recorded_with: VCR 3.0.3
