---
http_interactions:
- request:
    method: post
    uri: https://connect.squareup.com/v2/locations/CBASEDPaLCabJaF09RCTuXK7uZYgAQ/transactions
    body:
      encoding: UTF-8
      string: '{"card_nonce":"fake-card-nonce-ok","reference_id":"57QXvVKkyHux","amount_money":{"amount":1664,"currency":"USD"},"billing_address":{"first_name":"nathan","last_name":"nathan"},"idempotency_key":"57QXvVKkyHux","buyer_email_address":"test@test.com"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer sandbox-sq0atb-Zefd9e__fbXtLIJYiJaiOA
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"transaction":{"id":"ce6bc567-8ef9-54fc-5e28-50196e8792bb","location_id":"CBASEDPaLCabJaF09RCTuXK7uZYgAQ","created_at":"2017-10-19T19:39:13Z","tenders":[{"id":"a30833c8-c47e-5a4e-422c-b53e3aa73f63","location_id":"CBASEDPaLCabJaF09RCTuXK7uZYgAQ","transaction_id":"ce6bc567-8ef9-54fc-5e28-50196e8792bb","created_at":"2017-10-19T19:39:13Z","note":"Online
        Transaction","amount_money":{"amount":1664,"currency":"USD"},"type":"CARD","card_details":{"status":"CAPTURED","card":{"card_brand":"DISCOVER_DINERS","last_4":"6408"},"entry_method":"KEYED"}}],"reference_id":"57QXvVKkyHux","product":"EXTERNAL_API"}}'
  recorded_at: Thu, 19 Oct 2017 19:39:13 GMT
recorded_with: VCR 3.0.3
