{
    "plugins": [
        "react-hot-loader/babel",
        "transform-decorators-legacy",
        "transform-class-properties",
        "transform-function-bind",
        "transform-react-jsx",
        "lodash"
    ],
    "presets": [
        "es2016",
        "react",
        "stage-1"
    ]
}
