<div class="choose-tenant">

  <h3>Welcome to ShowMaker</h3>

  <form id="signup" method="post" action="/mobile">

    <label>
      Enter your organizations identifier:
      <input
        id="identifier" name="identifier"
        autocorrect="off" autocapitalize="none"
        type="text" placeholder="Identifier" value="<%= params['identifier'] %>">
    </label>

    <button type="submit" class="pure-button">Proceed</button>

  </form>
</div>
