<div class="demo">

  <h1>ShowMaker Demo</h1>

  <p>
    ShowMaker will allow you to embed a listing of your up-coming shows into your website.
  </p>

  <p>
    An example of such a listing is shown below.
  </p>

  <p>
    You can login to the mangement interface that generates the listing at <a href="https://demo.showmaker.com/">demo.showmaker.com</a> using the login “<b>demo</b>” and password “<b>password</b>”.
  </p>

  <div id="showmaker-shows-listing"></div>
  <script async src="https://demo.showmaker.com/assets/embedded-shows.js" data-render-to="#showmaker-shows-listing" data-embed-id="6CZMDsfGHpuR"></script>


</div>
