<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Tools for running shows.">
    <title>Show Maker</title>
    <%= javascript_tags :homepage %>
  </head>
  <body>
    <div class="header">
      <div class="top-menu pure-menu pure-menu-horizontal pure-menu-fixed">
        <a class="pure-menu-heading" href="">ShowMaker</a>
        <ul class="pure-menu-list">
          <li class="pure-menu-item"><a href="/" class="pure-menu-link">Home</a></li>
          <li class="pure-menu-item"><a href="/signup" class="pure-menu-link">Sign Up</a></li>
        </ul>
      </div>
    </div>
    <div class="content">
      <%= yield %>
    </div>
    <div class="footer l-box is-center">
      &copy; 2017 Argosity | <a href="/terms">Terms of use</a>
    </div>
  </body>
</html>
