<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Tools for running shows.">
    <title>ShowMaker</title>
    <%= javascript_tag :homepage, async: false %>
  </head>
  <body>
    <nav class="demo imponent">
      <a href="/" class="brand">
        <img class="logo" src="/logo/small.png" />
        <span>ShowMaker</span>
      </a>
      <div class="menu">
        <a href="/signup" class="button icon-file-code">Signup</a>
      </div>
    </nav>
    <div class="content">
      <%= yield %>
    </div>

    <%= erb :footer %>
  </body>
</html>
