<div class="mobile choose-tenant">
    <img src="/logo/small.png" width="250" height="174">
    <p>
        Need an account?  <a href="/signup">Sign up for free!</a>
    </p>
    <form id="signup" method="post" action="/mobile">
        <label>
            Already have an account?  Enter the
            account identifier that's found at the top of the
            “System Settings” screen.

            <div class="control-group">
                <input
                    id="identifier" name="identifier"
                    autocorrect="off" autocapitalize="none"
                    type="text" placeholder="Identifier"
                    value="<%= params['identifier'] %>"
                >
                <button type="submit">Proceed</button>
            </div>
        </label>
    </form>
</div>
