<div class="listing">
<% if embed.page && embed.page.html -%>
<%= embed.page.html %>
<% else -%>
    <h2>No shows are currently listed.</h2>
<% end -%>
    <p class="credits">
       by <a href="https://showmaker.com" target="_blank">ShowMaker.com</a>
    </p>
</div>
