<h2 id="privacy_policy">Privacy Policy</h2>

<p>ShowMaker provides this Privacy Policy to inform you of our policies and procedures regarding the collection, use, disclosure and protection of information that apply to our service, as well as your choices regarding the collection and use of information.</p>

<h4 id="overview">Overview</h4>

<p>ShowMaker is an online service that provides tools for businesses to manage and sell event tickets over the internet. In order for our service to function we collect various information about your company as well as the customers that your company has business dealings with. As a general rule, ShowMaker will never share any of the information we collect with any third-party service.</p>

<h4 id="personally_identifiable_information">Personally Identifiable Information</h4>

<p>To use ShowMaker, a company name, an email address, user name and password are required. In order to use various portions of the service API credentials for third-party services are required. BrainTree, Stripe, and Square are examples of third-party services that we support and require authentication credentials be provided to us.</p>

<p>We protect all the information entrusted to us to the best of our abilities and do not allow anyone except senior engineering staff to view such information, and only for the purposes of debugging system and communication failures within our systems.</p>

<h4 id="how_we_use_and_share_personally_identifiable_information">How We Use and Share Personally Identifiable Information</h4>

<p><strong>We use Personally Identifiable Information for the following purposes:</strong></p>

<ul>
<li>Internally for purposes such as analyzing how the Service is used, diagnosing service or technical problems or maintaining security</li>

<li>To operate, maintain, and provide to you the features and functionality of the Service</li>

<li>To fulfill requests you may make to us, (iv) to personalize your experience and</li>

<li>To provide you with information and offers that we believe you may find useful or interesting, including newsletters, marketing or promotional materials and other information on services and products offered by us or third parties.</li>
</ul>

<p>Following termination or deactivation of your ShowMaker account, we may retain your profile information and content for a commercially reasonable time for backup, archival, or audit purposes.</p>

<p><strong>Sharing:</strong></p>

<p>We may share Non-Personally Identifiable Information, including information obtained through tools such as cookies, log files, device identifiers, location data and clear gifs (such as anonymous usage data, referring/exit pages and URLs, platform types, number of clicks, etc.): (i) in any manner permitted for Personally Identifiable Information; and (ii) with our third-party business partners for the purposes described in the section above. We may also aggregate or otherwise strip data of all personally identifying characteristics and may share that aggregated, anonymized data with third parties.</p>

<p>The exception to our sharing policy is for Analytic Services:</p>

<h4 id="cookies">Cookies</h4>

<p>Like many other websites, ShowMaker uses a standard technology called “cookies.” Cookies are small pieces of information that are stored on your hard drive and not on our site. Cookies help us understand how customers use our service, which allows us to improve and tailor the service. You will not be able to use the ShowMaker service if you disable cookies.</p>

<h4 id="privacy_protection_for_children">Privacy Protection for Children</h4>

<p>In compliance with the Children’s Online Privacy Protection Act (COPPA), we do not knowingly provide our service to persons under the age of 18.</p>
