<h2 class="content-head is-center">Thanks for trying Show Maker</h2>
<p>
  We've setup your company with a custom address at:
</p>
<p>
  <a href="<%= tenant.url %>"><%= tenant.url %></a>
</p>
<p>
  We've also sent you a welcome email to <%= tenant.email %> with login instructions.
</p>
<p>
  Contact us anytime at <a href="mailto:support@showmaker.com">support@showmaker.com</a> if you have any questions.
</p>
