<!DOCTYPE html>
<html lang="en">
    <head>
      <title>Square Authorized</title>
      <link href="https://cdn.jsdelivr.net/npm/picnic@6.4.0/picnic.min.css" rel="stylesheet" type="text/css">
      <style>
        body { padding: 40px; }
      </style>
      <script>
        var locations = <%= defined?(locations) ? locations.to_json : '[]' %>;
        function selectLocation(i) {
          var l = locations[i];
          this.window.square = {
             location_id: l.id, location_name: l.name, token: '<%= token %>'
          };
          this.window.close();
        }
      </script>
    </head>
    <body>
      <% if defined?(failed) && failed %>
        <h1>Failed to authorize ShowMaker</h1>
      <% else %>
        <% if locations.one? %>
          <script>selectLocation(0);</script>
        <% else %>
          <h3>Select Location</h3>
          <% locations.each_with_index do |l, i| %>
            <a onClick="selectLocation(<%= i %>);" href="#" class="pseudo button stack">
              <%= l['name'] %>
            </a>
          <% end %>
        <% end %>
      <% end %>
    </body>
</html>
