$fg: #FFBC67;
$fg-alt: #DA727E;
$bg: #455C7B;
$bg-alt: #AC6C82;
$accent: #685C79;

// @import '~picnic/src/picnic';

// Imports the base variable styles
@import '~picnic/src/themes/default/theme';

@import '~picnic/src/vendor/compass-breakpoint/stylesheets/breakpoint';

// Normalize.css (external library)
@import '~picnic/src/plugins/normalize/plugin';

// Generic styles for things like <body>, <a> and others
// It also overwrites normalize.css a bit
@import '~picnic/src/plugins/generic/plugin';
//@import '~picnic/src/plugins/fontello/plugin';

// Simple elements
@import '~picnic/src/plugins/label/plugin';
@import '~picnic/src/plugins/button/plugin';

// Forms
@import '~picnic/src/plugins/input/plugin';
@import '~picnic/src/plugins/select/plugin';
@import '~picnic/src/plugins/radio/plugin';
@import '~picnic/src/plugins/checkbox/plugin';

// Components
@import '~picnic/src/plugins/table/plugin';
@import '~picnic/src/plugins/grid/plugin';

// Extra
@import '~picnic/src/plugins/nav/plugin';

@import '~picnic/src/plugins/stack/plugin';
@import '~picnic/src/plugins/card/plugin';
@import '~picnic/src/plugins/modal/plugin';

@import '~picnic/src/plugins/dropimage/plugin';
@import '~picnic/src/plugins/tabs/plugin';
@import '~picnic/src/plugins/tooltip/plugin';

body.homepage {

}

.panel {
    width: 80%;
    margin: auto;
    padding: 30px 0;
    padding: 1rem;
}

.info {
    color: black;
    margin-top: -150px;
    font-size: 1.2rem;
    min-height: 150px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.1);
}

.splash-container {
    z-index: 1;
    overflow: hidden;
    /* The following styles are required for the "scroll-over" effect */
    width: 100%;
    height: 70%;
    top: 0;
    left: 0;
    position: fixed !important;
    background-size: cover;
    background-color: $bg;
    background: url('./crowd.svg'), linear-gradient(to bottom, $bg-alt 1%, $bg 100%);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100%;

    &:after {
        box-shadow: 0 0 0 80px #fff;
        border-radius: 100%;
        position: absolute;
        height: 150px;
        content: '';
        right: -20%;
        left: -20%;
        top: 100%;
    }

    .splash {
        color: white;
        background-color: transparentize($bg, 0.3);
        margin-top: 45px;
        max-width: 400px;
        box-shadow: 0px 0px 10px 10px $bg-alt; // rgba(255, 238, 0, 0.6);
        text-align: center;
        text-transform: uppercase;
    }

    .splash-head {
        font-size: 200%;
        font-weight: bold;
        padding: 1em 1.6em;
        font-weight: 100;
        border-radius: 5px;
        line-height: 1em;
    }
    .splash-subhead {
        color: white;
        letter-spacing: 0.05em;
        opacity: 0.8;
    }
    .signup-link {
        color: white;
        display: inline-block;
        padding: 10px 30px;
        margin-top: 20px;
        border: 3px solid #7a73b7;
        border-radius: 3px;
        background-color: transparentize($bg, 0.3);
        &:hover {
            color: #e2e2e2;
            background-color: transparentize($bg, 0.1);
        }
    }
}

.content-wrapper {
    /* These styles are required for the "scroll-over" effect */
    position: absolute;
    top: 70%;
    left: 0;
    right: 0;
    width: 100%;
    min-height: 12%;
    z-index: 2;
    background: white;
}

/* We want to give the content area some more padding */
.content {
    margin-top: 65px;
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

nav + .content {
    margin-top: 50px;
}

/* This is the class used for the main content headers (<h2>) */
.content-head {
    font-weight: 400;
}

/* This is the class used for the content sub-headers (<h3>) */
.content-subhead {
    color: #1f8dd6;
}
    .content-subhead i {
        margin-right: 7px;
    }

/* This is the class used for the dark-background areas. */
.ribbon {
    border: 10px solid #2d3e50;
    .card { margin: 0; }
}

h2.signup {
    .start-at {
        font-size: 70%;
        font-weight: normal;
    }
}

/* This is the class used for the footer */
footer {
    bottom: 0;
    border-top: 1px solid #d8d8d8;
    margin-top: 40px;
    color: #7f8c8d;
    display: flex;
    justify-content: flex-end;

    .content {
        text-align: right;
    }
    a {
        color: #7f8c8d;
        & + a {
            margin-left: 1rem;
        }
    }
}

/*
 * -- TABLET (AND UP) MEDIA QUERIES --
 */
@media (min-width: 48em) {

    /* We increase the body font size */
    body {
        font-size: 16px;
    }

    /* We can align the menu header to the left, but float the
    menu items to the right. */
    .top-menu {
        text-align: left;
        ul {
            float: right;
        }
    }
    .splash-container {
        .splash {
            margin-top: 100px;
            .splash-subhead {
                font-weight: bold;
                border-radius: 8px;
            }
        }
    }
}

.invalid {
    color: #b94a48;
    border-color: 1px solid #e9322d;
    padding: 20px;
    background-color: #fff4f4;
}

form#signup {
    label {
        padding-bottom: 1rem;
        display: block;
    }
}

.planslist {
    flex-wrap: nowrap;
    .plan {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        & + .plan {
            border-left: 1px solid #80808042;
        }
        ul {
            padding: 1rem;
            margin: 0;
        }
    }
}

@import './mobile';
