@import '~grommet/scss/hpe/hpe.defaults';
@import '~grommet/scss/grommet-core/settings';

.grommet {
    @import "inuit-normalize/generic.normalize";
    @import "inuit-reset/generic.reset";
    @import "inuit-shared/generic.shared";
}

@import '~grommet/scss/grommet-core/base';
@import '~grommet/scss/grommet-core/objects';

@import '~grommet/scss/hpe/objects.button-hpe';
@import '~grommet/scss/hpe/objects.anchor-hpe';


.show-times {
    margin-left: 0;
    padding-left: 0;
    .common-time {
        font-size: 110%;
    }
    .dates {
        display: inline;
        margin-left: 1rem;
    }
    .date {
        list-style: none;
        display: inline;
        margin-left: 0.5rem;
        &:before {
            content: ":";
            color: $border-color;
            margin-right: 0.5rem;
        }
        &:first-child {
            margin-left: 0;
            &:before {
                content: "";
            }
        }
    }
}

.shows-listing {

    min-height: 200px;

    .show {
        border-top: 1px solid lightgray;
        margin-top: 10px;
        padding-top: 10px;
        padding: 1rem;
        display: flex;

        .image {
            align-self: center;
            max-width: 240px;
        }
        .presenter {
            padding-right: 0.5rem;
        }

        .content {
            flex: 1;
            display: flex;
            flex-direction: column;
            .venue {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                img {
                    max-height: 50px;
                    margin-right: 1rem;
                }
            }
            .main {
                flex: 1;
                display: flex;
                .info {
                    margin: 0 10px;
                    flex: 1;
                    flex-direction: column;
                    min-width: 0;
                    justify-content: flex-start;
                    h2, h3, p {
                        min-width: 0;
                        word-wrap: break-word;
                        margin-bottom: 0;
                    }
                    .title {
                        display: flex;
                        align-items: center;
                        flex-wrap: wrap;


                        img {
                            max-height: 50px;
                            margin-right: 1rem;
                        }
                        h2 {
                            font-size: 30px;
                        }
                    }
                }

                .actions {
                    display: flex;
                    align-items: flex-start;
                    flex-direction: column;
                    align-items: stretch;
                    margin: 0 10px;
                    .grommetux-button {
                        margin-top: 10px;
                    }
                }
            }
        }
        @media only screen and (max-width: 720px) {
            flex-wrap: wrap;
            .logo, .info, .actions {
                min-width: 100%;
            }
            .content {
                flex-direction: column-reverse;
                .main {
                    flex-direction: column;
                    .actions {
                        flex-direction: row;
                        justify-content: space-around;
                        flex-wrap: wrap;
                        .grommetux-button + .grommetux-button {
                            margin-left: 0.5rem;
                        }
                    }
                }
            }
        }
    }
}


.show-information,
.show-purchase {
    &.grommetux-layer {
        .grommetux-layer__container {
            overflow: hidden;
        }
    }
    .contents {
        overflow: hidden;
        .body {
            flex: 1;
            overflow: auto;
        }
    }
}

.show-purchase {
    .image img { max-height: 100%; }
    .order-pane {
        overflow-x: hidden;
        overflow-y: auto;
    }

    .totals-line {
        margin-top: 0.5rem;
        h2 { margin: 0; }
        .ea { flex: 1; }
        .form-field {
            min-width: 200px;
        }
        .total {
            min-width: 200px;
        }
        .times {
            min-width: 250px;
        }
    }
    .grommetux-value {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        .grommetux-value__annotated div {
            display: flex;
            flex-direction: row-reverse;
            margin-right: 0.5rem;
        }
    }

    .top-info {
        display: flex;

        .image {
            align-self: center;
            max-width: 240px;
            margin-right: 1rem;
        }

    }
}
.grommet.grommetux-drop {
    .grommetux-select__options {
        margin-left: 0;
    }
}
