.showmaker-embedded-shows .show-purchase {

    .show-info {
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: 300px minmax(200px, 1fr);
        @media (max-width: 550px) {
            grid-template-columns: 100%;
        }
        .logo {
            width: 100%;
            height: auto;
        }

        h1 {
            font-size: 30px;
            font-weight: bolder;
        }
        h3 {
            font-size: 24px;
            font-weight: bold;
        }
    }

    .payment-fields-wrapper {
        display: grid;
        grid-gap: 10px;
        grid-auto-flow: dense;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)) ;
        position: relative;
    }

    .totals {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin: 1rem 0;
        h3 {
            flex: 1;
            text-align: right;
        }
        .select-time {
            flex: 1;
        }
        .qty {
            width: 80px;
            font-size: 18px;
            text-align: right;
            margin-left: 1rem;
        }
        .total {
            font-size: 22px;
            font-weight: bold;
            text-align: right;
            margin-left: 1rem;
            display: flex;
            sub {
                font-size: 0.8rem;
                font-weight: normal;
            }
        }
    }

    &.is-pending {
        .card-field {
            min-height: 42px;
        }
    }

    .actions {
        margin-top: 20px;
        display: flex;
        justify-content: flex-end;
        .btn {
            margin-left: 1rem;
            padding: 0.5rem 2rem;
        }
        @media (max-width: 550px) {
            justify-content: space-around;
            .btn { margin-left: 0; }
        }
    }

    .payment-field {
        border-bottom: 1px solid #b9b9b9;
        border-bottom: 1px solid var(--sm-input-border-color);

        display: flex;
        flex-direction: column;
        .top {
            display: flex;
            justify-content: space-between;
        }

        label {
            color: var(--sm-input-text-color);
        }

        &.focused {
            border-bottom: 1px solid var(--sm-input-focused-color);
            label {
                color: var(--sm-input-focused-color);
            }
        }
        input {
            border: 0;
            color: var(--sm-input-text-color);
            line-height: 40px;
            font-size: 16px;
            &:focus {
                outline: 0;
                color: var(--sm-input-focused-color);
            }
        }

        &.name, &.email, &.cardNumber {
            grid-column: auto / span 2;
        }
        &.error {
            color: var(--sm-input-error-color);
            border-bottom: 1px solid var(--sm-input-error-color);
        }
    }

    .select-time {
        overflow: hidden;
        height: 34px;
        select {
            background: transparent;
            height: 29px;
            width: 100%;
            padding: 5px;

            border: 1px solid #ccc;
            font-size: 16px;
            height: 34px;
        }
    }


    .errors {
        color: var(--sm-error-color);
        background-color: var(--sm-error-background-color);
        border-radius: 4px;
        padding: 1rem;
        margin: 2rem 0;
    }
}
