@import 'hippo/styles/global';

.hippo-screen[data-screen-id="box-office"] {

    .guest-list {
        flex: 1;
        .ReactVirtualized__List {
            border: 1px solid $border-color;
            border-width: 1px 0;
        }
        .data-list.selectable {
            .ReactVirtualized__Grid__innerScrollContainer {
                cursor: inherit; // override grid default

                .guest {
                    &:not(.full) {
                        cursor: pointer;
                    }
                }
            }
        }
        .guest {
            padding: 10px 0;
            margin-bottom: 10px;
            border-bottom: 1px solid $border-color;
            overflow: hidden;
            h4 { margin: 0; }
            .controls {
                .grommetux-button__icon { padding: 0; }
                min-width: 26px;
                justify-content: space-around;
                display: flex;
                flex-direction: column;
                height: 100%;
                svg { max-width: 100%; }
            }
            display: flex;
            .grid {
                flex: 1;
                display: grid;
                grid-gap: 0.5rem;
                grid-template-columns: repeat(auto-fill, minmax(180px, 1fr) ) ;
                align-items: center;
                > * {
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                }
            }
            @include media-query(lap-and-up) {
                .grid {
                    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr) ) ;
                }
            }
            @include media-query(palm) {
                .grid {
                    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr) ) ;
                }
            }
        }
    }
}


.grommetux-layer.box-office-redemption {

    h3 {
        margin: 0;
        height: 45px;
        display: flex;
        align-items: center;
    }

    .name {
        font-size: 120%;
        margin-bottom: 10px;
    }

    .grommetux-number-input {
        display: flex;
        justify-content: space-around;
    }
}
