@import '~grommet/scss/hpe/hpe.defaults';
@import '~grommet/scss/grommet-core/settings';

.grommet {
    @import "inuit-normalize/generic.normalize";
    @import "inuit-reset/generic.reset";
    @import "inuit-shared/generic.shared";
}

@import '~grommet/scss/grommet-core/base';
@import '~grommet/scss/grommet-core/objects';

@import '~grommet/scss/hpe/objects.button-hpe';
@import '~grommet/scss/hpe/objects.anchor-hpe';


.events-listing {

    min-height: 200px;

    .event {
        border-top: 1px solid lightgray;
        margin-top: 10px;
        padding-top: 10px;
        padding: 1rem;
        display: flex;

        .image {
            align-self: center;
            max-width: 240px;
        }
        .info {
            margin: 0 10px;
            flex: 1;
            flex-direction: column;
            min-width: 0;
            justify-content: flex-start;
            .title {
                display: flex;
                align-items: center;
                flex-wrap: wrap;

                // &::after {
                //     clear: both;
                // }

                h2, h3, p {
                    min-width: 0;
                    word-wrap: break-word;
                }
                img {
                    max-height: 50px;
                    margin-right: 1rem;
                }
                h2 {
                    font-size: 30px;
                    margin: 0;
                }
            }
        }
        .actions {
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            align-items: stretch;
            .grommetux-button {
                margin-top: 10px;
            }
        }
        @media only screen and (max-width: 720px) {
            flex-wrap: wrap;
            .image, .info, .actions {
                min-width: 100%;
            }
            .actions {
                flex-direction: row;
                justify-content: space-around;
            }
        }
    }
}


.event-information,
.event-purchase {
    &.grommetux-layer {
        .grommetux-layer__container {
            overflow: hidden;
        }
    }
    .contents {
        overflow: hidden;
        .body {
            flex: 1;
            overflow: auto;
        }
    }
}

.event-purchase {
    .image img { max-height: 100%; }
    .order-pane {
        overflow-x: hidden;
        overflow-y: auto;
    }
    .braintree-hosted-field {
        height: 36px;
        padding-left: 22px;
    }

    .totals-line {
        h2 { margin: 0; }
        .ea { flex: 1; }
        .form-field {
            min-width: 200px;
        }
    }
}
