@import 'hippo/styles/global';

.screen[data-screen-id="shows"] {
    padding: 0;
    .shows-list {
        flex: 1;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        .grommetux-header {

        }
        .data-list {
            flex: 1;
            align-self: stretch;
        }
    }

    .show {
        flex: 1;
        padding: 0.5em;
        min-height: 120px;
        margin: 0.5em 0;
        border: 1px solid lightgrey;

        .medium img {
            max-height: 200px;
            max-width: 100%;
        }
        .thumbnail img {
            max-height: 80px;
            max-width: 80px;
        }
        .title {
            display: flex;
            align-items: flex-start;
            flex: 1;
            h2, h3 {
                margin-bottom: inherit;
            }
            .center {
                flex: 1;
            }
        }
    }

    .show-edit {
        height: 100vh;
        button.edit-page {
            flex-direction: row-reverse;
            display: flex;
        }

        .show-edit-body {
            display: flex;
            flex-direction: column;
            height: calc(100vh - 75px);
            overflow-y: auto;
            padding: 0 0.5rem;
            > * {
                min-height: min-content; min-height: -moz-min-content; min-height: -webkit-min-content;
            }
        }
        .times {
            margin-top: 0.5rem;
            min-height: 250px;
            input {
                border: $input-border-width solid $border-color;
                max-width: 100%;
                padding: 0;
                border-radius: 1px;
                padding: 3px;
                text-align: right;
                &.flatpickr-input {
                    text-align: center;
                }
            }
        }
    }

}

.shows-edit-page:not(.grommetux-layer--hidden) {

    @media screen and (min-width: 45em) {
        .grommetux-layer__container {
            padding: 0 1rem;
            max-height: 100vh;
            max-width: 100vw;
        }
    }

}
