@import 'hippo/styles/global';

.event {
    flex: 1;
    padding: 0.5em;
    min-height: 120px;
    margin: 0.5em 0;
    border: 1px solid lightgrey;

    .medium img {
        max-height: 200px;
        max-width: 100%;
    }
    .thumbnail img {
        max-height: 80px;
        max-width: 80px;
    }
    .title {
        display: flex;
        align-items: flex-start;
        flex: 1;
        h2, h3 {
            margin-bottom: inherit;
        }
        .center {
            flex: 1;
        }
    }
    .info {

    }


}

.event-edit-form {
    .occurrences {
        margin-top: 0.5rem;
//        height: 100%;
        input {
            border: $input-border-width solid $border-color;
            max-width: 100%;
            padding: 0;
            border-radius: 1px;
            padding: 3px;
        }
        .grommetux-date-time {
            width: 100%;
            input {
                border: 0;
            }
        }
    }
}
