button.btn,
a.btn {
    font-family: 'Roboto', "Century Gothic", "Century", sans-serif;
    border-radius: 2px;
    border: 0;
    transition: .2s ease-out;
    color: #fff;
    text-align: center;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    padding: 10px 20px;
    cursor: pointer;
    &:focus {
        outline: none !important;
    }

    &:hover {
        color: #fff;
        box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    }

    &:active, &:focus, &.active {
        outline: 0;
        color: #fff;
    }

    &.btn-default {
        color: var(--sm-default-btn-color);
        background: var(--sm-default-btn-bg-color);
        &:hover, &:focus {
            &:not([disabled]) {
                background-color: var(--sm-default-btn-bg-color-hover);
            }
        }
    }

    &.btn-primary {
        color: var(--sm-primary-btn-color);
        background: var(--sm-primary-btn-bg-color);
        &:hover, &:focus {
            &:not([disabled]) {
                background-color: var(--sm-primary-btn-bg-color-hover);
            }
        }
    }
    &[disabled] {
        cursor: not-allowed;
        opacity: 0.3;
    }
}
