.listing {

    min-height: 200px;

    .show {
        border-bottom: 1px solid lightgray;
        margin-bottom: 10px;
        padding-bottom: 10px;
        display: flex;

        &:first-child {
            margin-top: 10px;
            padding-top: 10px;
            border-top: 1px solid lightgray;
        }

        img {
            align-self: center;
            max-width: 240px;
        }
        .presenter {
            padding-right: 0.5rem;
        }

        .venue {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            font-size: 0.95rem;
            .name { margin-right: 0.5rem; }
            img {
                max-height: 50px;
                margin-right: 1rem;
            }
        }

        .content {
            flex: 1;
            display: flex;
            flex-direction: column;
            .main {
                flex: 1;
                display: flex;
                .info {
                    margin: 0 10px;
                    flex: 1;
                    flex-direction: column;
                    min-width: 0;
                    justify-content: flex-start;
                    h2, h3, p {
                        min-width: 0;
                        word-wrap: break-word;
                        margin-bottom: 0;
                    }
                    .title {
                        display: flex;
                        align-items: center;
                        flex-wrap: wrap;
                        img {
                            max-height: 50px;
                            margin-right: 1rem;
                        }
                        h2 {
                            font-size: 30px;
                        }
                    }
                }

                .actions {
                    display: flex;
                    justify-content: flex-start;
                    flex-direction: column;
                    align-items: stretch;
                    margin: 0 10px;
                    .btn {
                        margin-bottom: 10px;
                    }
                }
            }

            .show-times {
                margin-left: 0;
                padding-left: 0;

                .common-time {
                    font-size: 110%;
                }
                .dates {
                    display: inline;
                    margin-left: 1rem;
                }
                li {
                    list-style: none;
                    display: inline-block;
                    &:after {
                        content: ",";
                        margin-right: 0.5rem;
                    }
                    &:last-child {
                        margin-right: 0;
                        &:after {
                            content: "";
                        }
                    }
                }
            }

        }
        @media only screen and (max-width: 720px) {
            flex-wrap: wrap;
            .logo, .info, .actions {
                min-width: 100%;
            }
            .content {
                flex-direction: column-reverse;
                .main {
                    flex-direction: column;
                    .actions {
                        flex-direction: row;
                        justify-content: space-around;
                        flex-wrap: wrap;
                        .grommetux-button + .grommetux-button {
                            margin-left: 0.5rem;
                        }
                    }
                }
            }
        }
    }
}
