.showmaker-embedded-shows {

    --sm-default-btn-color: #353a3f;
    --sm-default-btn-bg-color: #e3e6ea;
    --sm-default-btn-bg-color-hover: #dcdee3;

    --sm-primary-btn-color: #ffffff;
    --sm-primary-btn-bg-color: #2d7df6;
    --sm-primary-btn-bg-color-hover: #0069d9;

    --sm-input-border-color: #b9b9b9;
    --sm-input-text-color: #5b5b5b;
    --sm-input-focused-color: #2b2b2b;

    --sm-error-background-color: #fcf8e3;
    --sm-error-color: black;

    --sm-input-error-color: #ff2600;

    .credits {
        font-size: 0.9rem;
        text-align: right;
        font-variant: petite-caps;
        font-style: italic;
    }

    @import "./reset";
    @import "./button";
    @import './spinner';
    @import './listing';

    .order-receipt {
        h1 {
            font-size: 30px;
            font-weight: bolder;
            margin-bottom: 20px;
        }
        p { margin: 1rem 0; }
        .actions {
            margin-top: 20px;
            display: flex;
            justify-content: center;
            .btn {
                margin-left: 1rem;
                padding: 0.5rem 2rem;
            }
        }

    }

    .show-information {
        .actions {
            margin-top: 1rem;
            padding-top: 1rem;
            border-top: 1px solid var(--sm-input-border-color);
            display: flex;
            justify-content: flex-end;
            a { margin-left: 1rem; }
        }

    }
}
