<html>
  <body style="font-family: arial; font-size: 16px; color: #373533;">
    <p>
      Attached is the guest list for {{show.title}} today at
      {{ show_time.occurs_at | date: "%l:%M%P" }}
    </p>
    <p>
      The spreadsheet can be used to check guests in if you lose internet or have
      any technical difficulties.
    </p>
    <p>
      Thanks for using ShowMaker, we hope your event is a huge success!
    </p>
  </body>
</html>
