<html>
  <body>
    <h2>
      Thank you for signing up for ShowMaker!
    </h2>
    <p>
      Your login is {{ login }}
    </p>
    <p>
      You can access your account at: <a href="{{ signup_url }}">{{ signup_url }}</a>
    </p>
    <p>
      Don't hesitate to reach out to us at contact@showmaker.com if you have any questions or suggestions on improving showmaker.  We'd love to hear from you.
    </p>
  </body>
</html>
