@import "~quill/dist/quill.snow.css";
@import "~quill/dist/quill.core.css";

.grommet {
    .quill,
    .ql-editor,
    .ql-container,
    .quill-editor-wrapper {
        flex: 1;
        display: flex;
        flex-direction: column;
    }
    .ql-editor {
        display: block;
        u {
            text-decoration: underline;
        }
    }
    .quill {
        .ql-toolbar {
            border-width: 0 0 1px 0;
            button {
                padding: 3px 5px;
                min-width: inherit;
            }
        }
    }




    .ql-snow .ql-picker.ql-size {

        .ql-picker-label[data-value=x-large]::before,
        .ql-picker-item[data-value=x-large]::before {
            content: 'XLarge';
        }
        .ql-picker-item[data-value=xx-large]::before,
        .ql-picker-item[data-value=x-large]::before {
            font-size: x-large;
        }
        .ql-picker-label[data-value=xx-large]::before,
        .ql-picker-item[data-value=xx-large]::before {
            content: 'XXLarge';
        }
    }

}
